<!DOCTYPE html>
<html lang="fa">

<head>
	<title>خطا</title>
	<meta charset="UTF-8" />
	<meta name="description" content="The Real Estate Management" />
	<meta name="keywords" content="RealEstate" />
	<meta name="author" content="SMR" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/images/favicon.ico" />

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/fonts/font.css" />
	<link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.min.css" />
	<%- style %>
</head>

<body>
	<%- body %> <%- script %>
</body>

</html>