<% contentFor('body') %>
<div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
	<h2>کاربران سایت</h2>
</div>
<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>نام کاربر</th>
				<th>ایمیل کاربر</th>
				<th>تاریخ عضویت</th>
			</tr>
		</thead>
		<tbody>
			<% siteUsers.forEach(user => { %>
			<tr>
				<td><a href="#"><%= user.name %></a></td>
				<td><a href="#"><%= user.email %></a></td>
				<td>
					<%= date(user.createdAt).fromNow() %>
				</td>
			</tr>
			<% }) %>
		</tbody>
	</table>
</div>