<!--? Inner Heading Start -->
<div class="innerHeading faqsHeading">
    <div class="container">
        <h1>سؤالات متداول</h1>
    </div>
</div>
<!--! Inner Heading End -->

<!--? Inner Content Start -->
<div class="innercontent">
    <div class="container">
        <div class="faqs">
            <div class="panel-group wow fadeInUp" id="accordion">
                <!--? Question -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse1">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم؟
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
                            از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
                            برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                        </div>
                    </div>
                </div>
                <!--! Question -->
            </div>
        </div>
    </div>
</div>
<!--! Inner Content End -->