<% contentFor('body') %>
<div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
	<h2>ایجاد مجوز جدید</h2>
</div>
<form class="form-horizontal" action="/admin/users/permissions/create" method="post">
	<input type="hidden" name="_csrf" value="<%= req.csrfToken() %>" />
	<%- include(viewPath('layouts/errors')) -%>
	<div class="form-group row">
		<div class="col">
			<label for="label" class="control-label font-weight-bold">
				برچسب
			</label>
			<input type="text" class="form-control" name="label" id="label" placeholder="برچسب را وارد کنید"
				value="<%= complete('label') %>" />
		</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<label for="desc" class="control-label font-weight-bold">توضیح</label>
			<input type="text" class="form-control" name="desc" id="desc" placeholder="توضیح را وارد کنید"
				value="<%= complete('desc') %>" />
		</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<button type="submit" class="btn btn-success">ارسال</button>
		</div>
	</div>
</form>